<div class="share">
    {{ with .Params.letterboxd_id }}
    <p>Letterboxd</p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://boxd.it/{{ . }}" rel="noopener">
                <i class="fas fa-film"></i> Bekijk op Letterboxd
            </a>
        </li>
    </ul>
    {{ end }}

    {{ if .Params.comments }}
        <div class="sep"></div>
        <ul>
            <li>
                <a class="small smoothscroll" href="#disqus_thread"></a>
            </li>
        </ul>
    {{ end }}
</div>
