<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .URL }}">
                {{with .Params.image}}
                    <img class="img-fluid" src="{{ . | urlize | relURL }}" alt="A thumbnail image">
                {{end}}                
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .URL }}">#{{ .Params.number }} {{ .Title }}</a></h2>
            <h5>{{ .Date.Format "02/01/2006 15:04" }}</h5>
            <A href="{{ .Params.link }}">{{ .Params.cinema }}</A> <br> <br>
            <h4 class="card-text">{{ .Summary }}</h4>            
        </div>
    </div>
</div>
<!-- end post -->
